@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "../../node_modules/bootstrap/scss/functions";

$primary: #ff4136;
$secondary: #4E5166;
$info: #FFD7D7;

body {
    font-family: 'Lato', sans-serif !important;
  }

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import '~bootstrap/scss/bootstrap.scss';